.card {
    width: 100%;
}

.title {
    font-weight: bold;
}

.NTU {
    color: white;
    background-color: yellowgreen;
}
.Zonghe {
    color: white;
    background-color: darkcyan;
}
.Taipei {
    color: white;
    background-color: darkblue;
}

.Songshan {
    color: white;
    background-color: darkblue;
}


.First {
    color: white;
    background-color: darkslateblue;
}

.Terminal {
    color: white;
    background-color: lightblue;
}

.Tseng {
    color: black;
    background-color: lightblue;    
}